* {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

/* standard/mobile */
/* css needed? */

/* desktop */
/* .parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 5;
} */
